* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px !important;
}

.site-color {
    color: #1ECBE1;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.small-title {
    color: #777;
    font-size: 12px;
}

.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 5px 5px 0px
}

/* carousel  */
.carousel-item {
    height: 500px;
    background-color: rgb(119, 119, 119);
    color: white;
    position: relative;
}

.car-item-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: top;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.carousel .carousel-indicators li {
    background-color: white;
}

.carousel .carousel-indicators li.active {
    background-color: #1ECBE1;
}

/* about us  */
.aboutUs {
    -webkit-transform: skew(-3deg);
    -moz-transform: skew(-3deg);
    -o-transform: skew(-3deg);
    width: 500px;
}

.aboutUs img {
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* services  */
.services {
    background-color: #f1fcfd;
    padding: 80px 0;
    font-size: 12px;
}

.services i {
    color: #1ECBE1;
    font-size: 20px;
}

/* projects  */
.project {
    padding: 80px 0;
}

.project img {
    transition: ease-in-out 0.7s;
}

.project img:hover {
    transform: scale(1.05);
}

/* clients */
.clients {
    background-color: #f1fcfd;
    padding: 60px 0;
}

@media only screen and (max-width: 600px) {
    .clients {
        padding: 40px 0;
    }

    .clients img {
        width: 50px;
    }
}